<head>
	<link rel="stylesheet" href="/css/model.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
  </head>
  <body>
    <div class="bdypart">
    <div class="container-small">
    <div class="wrapper">
      <div class="cardmain">
        <h1>
          <span class="enclosed">Credit</span>Score
        </h1>
      </div>
    </div>
  </div>
  <div class="container_main">
    <div class="card">
      <h3 class="title">What is it..??</h3>
      <div class="bar">
        <div class="emptybar"> </div>
        <ul style="list-style: circle; margin-left: 10px;">
          <li class="textof">A Credit Score defines the<b>Credit Worthiness</b> of a person. A Credit Score is an individual's credit payment history across loan types and credit insitutions like Banks and NBFCs over a period time. These scores may vary from 300-900 depending on the scale and the bureu.</li>
          <li class="textof">We believe a good score is somewhere between <b>720-900</b>,which might never creae any hassle in getting yours loans.
          </li>

        </ul>
        <div class="filledbar"></div>
      </div>
    </div>
    <div class="card">
      <h3 class="title">4 Major factors that affects your score</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
        <ul style="list-style: circle; margin-left: 10px;">
          <li class="textof">Payment History</li>
	  <li class="textof">Credit Mix</li>
	  <li class="textof">High Credit Utilization</li>
	  <li class="textof">Multiple Enquiries</li>

        </ul>
      </div> 
    </div>
    <div class="card">
      <h3 class="title"><b>HOW?</b>Wondering How you can get an excellent score??</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
        <ul style="list-style: circle; margin-left: 10px;">
          <li class="textof">Contact our Team of Experts</li>
          
        </ul>
      </div>
   
    </div>
    
    
  </div>
  <div class="container d-flex justify-content-center"  style="margin-top: 20px;" >
    <a href="https://api.whatsapp.com/send?phone=918347064889" target="_blank" class="filled-button last-btn"><i class="fa fa-whatsapp" aria-hidden="true"></i>Contact Us</a>
  </div>
</div>
  </body>
